[project]
[access "refs/*"]
	owner = group Administrators
[access "refs/heads/*"]
	create = group Betelgeuse Maintainer
	push = +force group Betelgeuse Maintainer
	label-Code-Review = -2..+2 group Betelgeuse Maintainer
	label-Verified = -1..+1 group Betelgeuse Maintainer
	submit = group Betelgeuse Maintainer
[access "refs/tags/*"]
	create = group Betelgeuse Maintainer
	push = +force group Betelgeuse Maintainer
[submit]
	action = rebase if necessary
